@import 'bootstrap.min';
@import 'bootstrap-responsive.min';


//These are a mix of one's Ive found in CSS tricks, CodeSchool as well as some I've found useful for cross-browser css.
//I've alphabetized and stretched the mixins horizontally to allow users to be able to quickly see all the mixin titles.



@mixin border-radius ($rad) {-moz-border-radius: ($rad);-webkit-border-radius: ($rad); border-radius: ($rad);-khtml-border-radius:($rad);}

@mixin center-align ($width) {width: ($width); margin: 0 auto;}

@mixin helvetica {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300;}

@mixin hover-opacity ($speed, $endopacity){
  @include transition ($speed);
  &:hover {
    @include opacity ($endopacity);
 
 }
}

@mixin opacity ($o) {filter: alpha(opacity=($o*100)); -moz-opacity: ($o);-khtml-opacity: ($o);opacity: ($o);}
  
@mixin top-shadow {
//this is meant to be placed under the body.  Found from CSS tricks.
  &:before{content: "";position: fixed;top: -10px;left: 0;width: 100%;height: 10px;-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8); box-shadow: 0px 0px 10px rgba(0,0,0,.8); z-index: 100;}
   
   }  

@mixin transition ($s) {-moz-transition:($s); -webkit-transition:($s);-o-transition:($s);transition:($s);}  

@mixin tucked-corners {background: #f6f6f6;height: 700px;margin: 50px auto;max-width: 600px; position: relative; width: 80%;-webkit-box-shadow: 0 1px 7px hsla(0,0%,0%,.2); -moz-box-shadow: 0 1px 7px hsla(0,0%,0%,.2); box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
  &:after, &:before {background: #e6e6e6;content: '';height: 50px;position: absolute;top: -25px;width: 100px;-webkit-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);-moz-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);}
  &:after {left: -50px;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
  &:before {right: -50px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}}

// Color variables
$vinotinto:#5C0A17;
$yellow-white: #fdfcd4;


//Cross page elements
html, body {
    height: 100%;
    @include top-shadow;
}

h2, h3 {
    color: #666666;
    border-bottom: solid 1px #5C0A17;
    font-weight: 300;
    text-align: center;
    line-height: 2em;
}

h3 {
    text-align: left;
    font-style: oblique;
}

p {
    text-align: justify;
}

.spacer {
    height: 2px;
    background: #ceb60a;
    margin: 0px;
    padding: 0px;
}

.top-spacing {
    margin-top: 1em;
}

#top {
    height: 7em;
    h1 {
        color: white;
        position: relative;
        top: -0.5em;
        font-size: 2.5em;
        line-height: 0em;
        text-align: center;
    }
    h2 {
        color: red;
        position: relative;
        top: 0em;
        line-height: 0em;
        text-align: center;
    }
    #logo {
        height: 44px;
    }
    #language h6 {
        text-align: right;
        color: #c9c9c9;
    }
    #language a {
        color: #c9c9c9;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
    .dropdown-menu li > a:hover {
        background: #E9F1AD;
    }
    .nav {
        margin-top: 1.8em;
        > li > a {
        color:$yellow-white;
        text-transform: uppercase;
        font-weight:300;
            &:hover {
            background:none !important;
            } 
        }
        .dropdown-toggle {
            color:$yellow-white;
            .caret {
                border-top-color: $yellow-white;
                border-bottom-color: $yellow-white;
            }
        } 
        li.dropdown ul li a {
            color:$vinotinto;
        }
        .open .dropdown-toggle {
            background-color:$yellow-white !important;
            color:$vinotinto;
            .caret {
                border-top-color:$vinotinto !important;
                border-bottom-color:$vinotinto !important;
            }
        }
        .PDmobile {
            display: none;
        }
    }
    @media screen and (min-width:481px) and (max-width:786px) {
        #logo {
            text-align: center;
        }
        .nav {
            text-align:center;
            > li {
                float: none;
                display: inline-block;
            }
            .dropdown-menu > li {
                text-align:left;
            }
        }
    }
    @media screen and (max-width:481px) {
        .nav {
            height:2em;
            > li {
                display: block;
                float: none;
            }
            li.dropdownTEMP {
                ul li a {
                    color:$yellow-white;
                }
            }
            .PDmobile {
                display: block;
                a {
                    font-weight:bold;
                }
            }
            overflow: hidden;
        }
    }    
}

@media screen and (max-width: 893px) {
    #top {
    height: inherit;
    #logo img {
        bottom: 0px;
        }
    }
}
.banner-bottom-bg {
    background: #f3f3f3;
    p {
        text-align: center;
        color: #4e4e4e;
        font-size: 1.5em;
        padding: 1em;
        line-height: 0em;
        margin-bottom: 0px;
        font-family: 'Julius Sans One', sans-serif;
    }  
}
@media screen and (max-width: 1186px) {
.banner-bottom-bg p {
line-height: 1em;
}
}

.header-bg {
    background: #240409;
}


.gallery img {
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    &:hover {
       filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8; 
    }
}

img.estrella {
margin-top: 10px;
box-shadow: 0px 0px 11px black;
}

.leftNav {
    ul {
        list-style-type: none;
    }
    li {
        padding: .5em;
        font-size: 2em;
        text-align: center;
    }
    a {
    text-decoration: none;
    color: gray;
    font-weight: 300;
    &:hover {
        color: #5c0a17;        
        }
    }
    @media screen and (max-width:786px) {
        ul {
            margin:0;
        }
    }
}

body.home {
    background:#240409;
}



ul.nav li.dropdown:hover > ul.dropdown-menu{
display: block !important;    
}

@media screen and (max-width:786px){
    body {
        padding:0;
    }

    .container {
        padding-left:20px;
        padding-right:20px;
    }    
}

img.padding {
margin: 27px 10px; @include hover-opacity (.5s,.80);}


td {padding-right:2.5em; padding-bottom:.7em}
table {display:inline-block;}